.statePaidTrue {
    width: 10px;
    height: 10px;
    background-color: #03800b;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: auto
}

.statePaidGray {
    width: 10px;
    height: 10px;
    background-color: #939393;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: auto
}

.statePaidFalse {
    width: 10px;
    height: 10px;
    background-color: red;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: auto
}

.statePaidPartial {
    width: 10px;
    height: 10px;
    background-color: orange;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: auto
}


.cell {
    font-weight: 'bold';
    color: var(--dell-950);
    font-size: '10px';
    position: sticky;
    top: 0;
    background-color: aliceblue;
}