body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 99vh;
  overflow:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Variables CSS */
:root {
  /* Colores dell */
  --dell-50: #f1fce9;
  --dell-100: #e0f8cf;
  --dell-200: #c2f2a4;
  --dell-300: #9ae86e;
  --dell-400: #77d942;
  --dell-500: #57bf23;
  --dell-600: #409818;
  --dell-700: #337417;
  --dell-800: #2e6119;
  --dell-900: #284e19;
  --dell-950: #112b08;

  /* Colores codGray */
  --codGray-50: #f6f6f6;
  --codGray-100: #e7e7e7;
  --codGray-200: #d1d1d1;
  --codGray-300: #b0b0b0;
  --codGray-400: #888888;
  --codGray-500: #6d6d6d;
  --codGray-600: #5d5d5d;
  --codGray-700: #4f4f4f;
  --codGray-800: #454545;
  --codGray-900: #3d3d3d;
  --codGray-930: #161F1D;
  --codGray-950: #0a0a0a;

  --sb-track-color: var(--dell-50);
  --sb-thumb-color: var(--dell-600);
  --sb-size: 12px;
}

/* Estilos para todas las barras de desplazamiento en el proyecto */
*::-webkit-scrollbar {
  width: var(--sb-size); /* Ancho de la scrollbar */
  height: var(--sb-size); /* Altura de la scrollbar */
}

/* Estilos para el "thumb" (control deslizante) */
*::-webkit-scrollbar-thumb {
  background-color: var(--sb-thumb-color);
  border-radius: calc(var(--sb-size) / 2); /* Borde redondeado del "thumb" */
}

/* Estilos para la pista de la barra de desplazamiento */
*::-webkit-scrollbar-track {
  background-color: var(--sb-track-color);
  border-radius: calc(var(--sb-size) / 2); /* Borde redondeado de la pista */
}