.container{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
}
.formContainer {
    width: 300px;
    border-radius: 8px;
    padding: 1.2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  
    
  }

  .error {
    color: red;
  }